# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/debug/
android/app/profile/
android/app/release/

/android/
/ios/
/windows/
/linux/
/macos/
/web/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
